*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #121212;

    .header{
        width: 100%;
        .header__nav{
            width: 100%;
        
            &__container{
                color: blueviolet!important;
        
                &__rightMenu{
                    flex-grow:0;
                }
            }
        }
    }
}